<!-- user.component.html -->
<h1>Resgister customer</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="salutation">Salutation:</label>
                <input type="text" id="salutation" formControlName="salutation" class="form-control" tabindex="1">
            </div>

            <div class="form-group">
                <label for="initials">Initials:</label>
                <input type="text" id="initials" formControlName="initials" class="form-control" tabindex="3">
            </div>

            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" formControlName="firstname" class="form-control" tabindex="5">
            </div>

            <div class="form-group">
                <label for="firstname_ascii">First Name (ASCII):</label>
                <input type="text" id="firstname_ascii" formControlName="firstname_ascii" class="form-control" tabindex="7">
            </div>

            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type text="text" id="gender" formControlName="gender" class="form-control" tabindex="9">
            </div>

            <div class="form-group">
                <label for="firstname_country_rank">First Name Country Rank:</label>
                <input type="text" id="firstname_country_rank" formControlName="firstname_country_rank" class="form-control" tabindex="11">
            </div>

            <div class="form-group">
                <label for="firstname_country_frequency">First Name Country Frequency:</label>
                <input type="text" id="firstname_country_frequency" formControlName="firstname_country_frequency" class="form-control" tabindex="13">
            </div>

            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" formControlName="lastname" class="form-control" tabindex="15">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="lastname_ascii">Last Name (ASCII):</label>
                <input type="text" id="lastname_ascii" formControlName="lastname_ascii" class="form-control" tabindex="16">
            </div>

            <div class="form-group">
                <label for="lastname_country_rank">Last Name Country Rank:</label>
                <input type="text" id="lastname_country_rank" formControlName="lastname_country_rank" class="form-control" tabindex="17">
            </div>

            <div class="form-group">
                <label for="lastname_country_frequency">Last Name Country Frequency:</label>
                <input type="text" id="lastname_country_frequency" formControlName="lastname_country_frequency" class="form-control" tabindex="18">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" formControlName="email" class="form-control" tabindex="19">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" id="password" formControlName="password" class="form-control" tabindex="20">
            </div>

            <div class="form-group">
                <label for="country_code">Country Code:</label>
                <input type="text" id="country_code" formControlName="country_code" class="form-control" tabindex="21">
            </div>

            <div class="form-group">
                <label for="country_code_alpha">Country Code Alpha:</label>
                <input type="text" id="country_code_alpha" formControlName="country_code_alpha" class="form-control" tabindex="22">
            </div>

            <div class="form-group">
                <label for="country_name">Country Name:</label>
                <input type="text" id="country_name" formControlName="country_name" class="form-control" tabindex="23">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="primary_language_code">Primary Language Code:</label>
                <input type="text" id="primary_language_code" formControlName="primary_language_code" class="form-control" tabindex="24">
            </div>

            <div in="form-group">
                <label for="primary_language">Primary Language:</label>
                <input type="text" id="primary_language" formControlName="primary_language" class="form-control" tabindex="25">
            </div>

            <div class="form-group">
                <label for="balance">Balance:</label>
                <input type="number" id="balance" formControlName="balance" class="form-control" tabindex="26">
            </div>

            <div class="form-group">
                <label for="phone_Number">Phone Number:</label>
                <input type="text" id="phone_Number" formControlName="phone_Number" class="form-control" tabindex="27">
            </div>

            <div class="form-group">
                <label for="currency">Currency:</label>
                <input type="text" id="currency" formControlName="currency" class="form-control" tabindex="28">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="partitionKey">Partition Key:</label>
                <input type="text" id="partitionKey" formControlName="partitionKey" class="form-control" tabindex="29">
            </div>

            <div class="form-group">
                <label for="rowKey">Row Key:</label>
                <input type="text" id="rowKey" formControlName="rowKey" class="form-control" tabindex="30">
            </div>

            <div class="form-group">
                <label for="timestamp">Timestamp:</label>
                <input type="text" id="timestamp" formControlName="timestamp" class="form-control" tabindex="31">
            </div>

            <div class="form-group">
                <label for="eTag">ETag:</label>
                <input type="text" id="eTag" formControlName="eTag" class="form-control" tabindex="32">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" tabindex="33">Save</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()" tabindex="34">Cancel</button>
        </div>
    </div>
</form>
