<div class="customer-details">
    <h2>Customer Details</h2>
    <table>
     
      <tr>
        <th>Salutation:</th>
        <td>{{ Cusomerddata.salutation }}</td>
      </tr>
      <tr>
        <th>Firstname
            :</th>
        <td>{{ Cusomerddata.firstname
        }}</td>
      </tr>
      <tr>
        <th>lastname:</th>
        <td>{{ Cusomerddata.lastname }}</td>
      </tr>
      <tr>
        <th>email:</th>
        <td>{{ Cusomerddata.email }}</td>
      </tr>
      <tr>
        <th>balance:</th>
        <td>{{ Cusomerddata.balance }}</td>
      </tr>
      <!-- Add more rows for other properties -->
    </table>
  </div>
  
